vs_project/duendeMakeApp/.vs
vs_project/duendeMakeApp/duendeMakeApp/bin/
vs_project/duendeMakeApp/duendeMakeApp/Properties/
vs_project/duendeMakeApp/duendeMakeApp/wwwroot/
vs_project/duendeMakeApp/duendeMakeApp/*.json
vs_project/duendeMakeApp/duendeMakeApp/*.csproj
.vs
vs_project/duendeMakeApp/duendeMakeApp/obj/
vs_project/duendeMakeApp/bin/Debug/
vs_project/duendeMakeApp/obj/Debug/
vs_project/duendeMakeApp/duendeMakeApp/appsettings.json
vs_project/duendeMakeApp/obj/
vs_project/duendeMakeApp/bin/
vs_project/duendeMakeApp/.config/
vs_project/duendeMakeApp/Properties/PublishProfiles/
vs_project/duendeMakeApp/bin/
vs_project/duendeMakeApp/obj/Release/
vs_project/duendeMakeApp/appsettings.json
vs_project/duendeMakeApp/obj/project.nuget.cache
vs_project/duendeMakeApp/obj/project.assets.json
vs_project/duendeMakeApp/obj/duendeMakeApp.csproj.nuget.g.props
vs_project/duendeMakeApp/obj/duendeMakeApp.csproj.nuget.dgspec.json
vs_project/duendeMakeApp/appsettings.json
vs_project/duendeMakeApp/appsettings.json

vs_project/duendeMakeApp/obj/project.nuget.cache
vs_project/duendeMakeApp/obj/project.assets.json
vs_project/duendeMakeApp/obj/duendeMakeApp.csproj.nuget.g.props
vs_project/duendeMakeApp/obj/duendeMakeApp.csproj.nuget.dgspec.json
vs_project/duendeMakeApp/Controllers/ProductosController.cs
